<template>
    <div class="card">
        <div class="card-header bg-info">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <h5>Limpiezas en progreso</h5>
                </div>
                <div class="col-lg-6 col-xs-12 d-flex justify-content-end">
                    <div class="alert alert-success resume-completed" role="alert">
                        <strong>Terminadas: 0</strong>
                    </div>
                    <div class="alert alert-danger resume-completed" role="alert">
                        <strong>Pendientes: 0</strong>
                    </div>
                    <div class="progress-circle resume-completed d-flex">
                        <div class="navigation_pages">
                            <span @click="navigatePrev"> &#60; </span>
                            <span @click="navigateNext"> &#62; </span>
                        </div>
                        <p><span v-text="itemsPagina"></span>/<span v-text="items.length"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <div class="row justify-content-center">
                <div v-for="(item,index) in paginator(items)" :key="index" class="col-lg-4 col-md-6 col-xs-12 item-work">                    
                    <div class="item">
                        <div class="media">
                            <div class="d-flex justify-content-center content-image">
                                <img src="http://pluspng.com/img-png/download-happy-person-png-images-transparent-gallery-advertisement-275.png"
                                     width="75" height="75"/>
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0" v-text="item.user_staff">  </h5>
                                <p>Limpieza : <span v-text="item.type_cleaning"> </span></p>
                                <p>Depa : <span v-text="item.owner_department"> </span></p>
                            </div>
                        </div>
                        <div>
                            Tiempo de limpieza: <span v-text="descontarSegundos(item.time)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "inProgressPanel",
        components: {

        },
        data() {
            return {
                itemsPagina:0,
                total:0,
                paginaActual: 1,
                itemsPorPagina: 6,

                segundos:30,
                items : [
                    {
                        owner_department : 'Henry',
                        user_staff : 'Elizabeth',
                        type_cleaning : 'A',
                        time : '20:11:00',
                    },
                    {
                        owner_department : 'Maria pezo',
                        user_staff : 'Vega',
                        type_cleaning : 'A',
                        time : '12:11:00',
                    },
                    {
                        owner_department : 'Alessandro De Souza	',
                        user_staff : 'Patricio del mar',
                        type_cleaning : 'A',
                        time : '13:11:00',
                    },
                    {
                        owner_department : 'Alfredo Benavides 2	',
                        user_staff : 'Bob Esponja',
                        type_cleaning : 'A',
                        time : '14:11:00',
                    },
                    {
                        owner_department : 'Bárbara Pérez Egaña	',
                        user_staff : 'Ludovico astaranga',
                        type_cleaning : 'A',
                        time : '11:11:00',
                    },
                    {
                        owner_department : 'Beto Alarcón	',
                        user_staff : 'Patricio del mar',
                        type_cleaning : 'A',
                        time : '08:11:00',
                    },
                    {
                        owner_department : 'Bianca Botto	',
                        user_staff : 'Bob Esponja',
                        type_cleaning : 'A',
                        time : '13:11:00',
                    },
                    {
                        owner_department : 'Brenda Levi	',
                        user_staff : 'Patricio del mar',
                        type_cleaning : 'A',
                        time : '21:11:00',
                    },
                    {
                        owner_department : 'Moises Avila	',
                        user_staff : 'Patricio del mar',
                        type_cleaning : 'A',
                        time : '12:11:00',
                    },
                    {
                        owner_department : 'Monica Diez	',
                        user_staff : 'Power rangers',
                        type_cleaning : 'A',
                        time : '11:11:00',
                    },
                    {
                        owner_department : 'Natalia Dongo 1 NEW	',
                        user_staff : 'Patricio del mar',
                        type_cleaning : 'A',
                        time : '14:11:00',
                    },
                    {
                        owner_department : 'Omar P. Rashid	',
                        user_staff : 'Vega',
                        type_cleaning : 'A',
                        time : '20:11:00',
                    },
                    {
                        owner_department : 'Oscar Oré	',
                        user_staff : 'Bob Esponja',
                        type_cleaning : 'A',
                        time : '07:11:00',
                    },
                    {
                        owner_department : 'Patricia Granadino X	',
                        user_staff : 'Elizabeth',
                        type_cleaning : 'A',
                        time : '20:11:00',
                    },
                    {
                        owner_department : 'Patricia Granadino3X	',
                        user_staff : 'Ludovico astaranga',
                        type_cleaning : 'A',
                        time : '10:11:00',
                    },
                    {
                        owner_department : 'Vicky Bracamonte	',
                        user_staff : 'Vega',
                        type_cleaning : 'A',
                        time : '09:11:00',
                    },
                    {
                        owner_department : 'Yerson - Diagonal C	',
                        user_staff : 'Power rangers',
                        type_cleaning : 'A',
                        time : '19:11:00',
                    },
                    {
                        owner_department : 'Yerson - Diagonal d	',
                        user_staff : 'Vega',
                        type_cleaning : 'A',
                        time : '20:11:00',
                    },
                    {
                        owner_department : 'Yerson - Diagonala	',
                        user_staff : 'Bob Esponja',
                        type_cleaning : 'A',
                        time : '23:11:00',
                    },
                    {
                        owner_department : 'Fernando H (J. Gonz)	',
                        user_staff : 'Power rangers',
                        type_cleaning : 'A',
                        time : '21:11:00',
                    },
                    {
                        owner_department : 'Gonzalo Gutiérrez	',
                        user_staff : 'Ludovico astaranga',
                        type_cleaning : 'A',
                        time : '20:11:00',
                    },
                    {
                        owner_department : 'Gonzalo Gutiérrez	',
                        user_staff : 'Patricio del mar',
                        type_cleaning : 'A',
                        time : '08:11:00',
                    },
                ]
            }
        },
        async mounted() {

        },
        created(){
            let _this = this;
            setInterval(function() {            
            const ultimo = Math.trunc(_this.items.length / _this.itemsPorPagina );
                if(_this.paginaActual > ultimo) {
                _this.paginaActual = 0;
                }       
                _this.paginaActual++; 
                
            }, this.segundos * 1000);

            
        },
        computed: {

        },
        methods: {
            loadStatus() {
                this.$store.dispatch('home/accessStatusCleaning', this.$parent.auth)
            },
            loadCleanings() {
                this.$store.dispatch('home/progressCleaning', this.$parent.auth);
            },
            navigatePrev() {
                //console.log(this.paginaActual );
                if(this.paginaActual <= 1) 
                    this.paginaActual = 1;
                else
                    this.paginaActual = this.paginaActual - 1;
            },
            navigateNext() {               
                const ultimo = Math.trunc(this.items.length / this.itemsPorPagina ) + 1;
                 //console.log(this.paginaActual + ' ' + ultimo);
                if(this.paginaActual >= ultimo )
                    this.paginaActual = ultimo
                else
                    this.paginaActual = this.paginaActual + 1;
            },
            paginator(items) {
                 
            const indiceInicio = (this.paginaActual - 1) * this.itemsPorPagina;
            const indiceFinal =
                indiceInicio + this.itemsPorPagina > items.length
                ? items.length
                : indiceInicio  + this.itemsPorPagina;
                //console.log(indiceInicio + ' ' +indiceFinal);
            const sliceItems = items.slice(indiceInicio , indiceFinal );            
            this.itemsPagina = sliceItems.length;  
            return sliceItems;
            },
            descontarSegundos(hora){
                const milliseconds = moment.now() - moment(hora, 'H:m:s');
                return moment.utc(milliseconds).format('HH:mm:ss');
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
